.menu-header {
    
}

.banner {
    height: 150px;
    width: 100%;
    background-color: black;
}

.main-menu {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
}

.item {
    padding-bottom: 15px;
}

.img-san-pham {
    min-height: 150px;
    max-height: 250px; 
}

footer {
    height: 50px;
    background-color: purple;
    margin-top: 20px;
}

footer .container p {
    color:white;
}